<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="projects.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Spectral+SC:400,700" rel="stylesheet">
	<title>Projects / Portfolio</title>
</head>
<body>

	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
			<a class="navbar-brand" href="http://radicaleinward.github.io">Edward Wilk</a>
		    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li><a href="/about/about.html">About Me <span class="sr-only">(current)</span></a></li>
		        <li class = "active"><a href="/projects/projects.html">Projects</a></li>
		      </ul>
		      <form class="navbar-form navbar-left"></form>
		    </div><!-- /.navbar-collapse -->
	  	</div><!-- /.container-fluid -->
	</nav>

<!-- <div class="row">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6"> <!-- the class makes it responsive -->
<!--                 <div class="thumbnail">
                    <img src="<%= campground.image %>">
                    <div class="caption">
                        <h4><%= campground.name %></h4>
                    </div>
                </div>
            </div>
        <% }); %>
    </div -->

	<div class="row">
		<div class="col-md-3 col-sm-6">
			<div class="thumbnail">
				<a href="/projects/colorGame/ColorGame.html"><img src="/projects/colorGame/square.png"></a>
				<div class="caption">
					<h4>Color Game</h4>
				</div>
			</div>
		</div>

		<div class="col-md-3 col-sm-6">
			<div class="thumbnail">
				<img src="https://dummyimage.com/400x400/000/fff.jpg">
				<div class="caption">
					<h4>Yelp Clone w/MongoDB</h4>
				</div>
			</div>
		</div>

		<div class="col-md-3 col-sm-6">
			<div class="thumbnail">
				<img src="https://dummyimage.com/400x400/000/fff.jpg">
				<div class="caption">
					<h4>MySQL & node.js</h4>
				</div>
			</div>
		</div>

		<div class="col-md-3 col-sm-6">
			<div class="thumbnail">
				<img src="https://dummyimage.com/400x400/000/fff.jpg">
				<div class="caption">
					<h4>Live Data</h4>
				</div>
			</div>
		</div>


		<div class="col-md-3 col-sm-6">
			<div class="thumbnail">
				<img src="https://dummyimage.com/400x400/000/fff.jpg">
				<div class="caption">
					<h4>Web Scraper</h4>
				</div>
			</div>
		</div>

		<div class="col-md-3 col-sm-6">
			<div class="thumbnail">
				<img src="https://dummyimage.com/400x400/000/fff.jpg">
				<div class="caption">
					<h4>D3 Project</h4>
				</div>
			</div>
		</div>

		<div class="col-md-3 col-sm-6">
			<div class="thumbnail">
				<img src="https://dummyimage.com/400x400/000/fff.jpg">
				<div class="caption">
					<h4>Wordpress Custom Local 1</h4>
				</div>
			</div>
		</div>

		<div class="col-md-3 col-sm-6">
			<div class="thumbnail">
				<img src="https://dummyimage.com/400x400/000/fff.jpg">
				<div class="caption">
					<h4>Wordpress Custom Local 2</h4>
				</div>
			</div>
		</div>

		<div class="col-md-3 col-sm-6">
			<div class="thumbnail">
				<img src="https://dummyimage.com/400x400/000/fff.jpg">
				<div class="caption">
					<h4>Wordpress Custom Local 3</h4>
				</div>
			</div>
		</div>
	</div>
				<!-- <div class="thumbnail"><img src="https://dummyimage.com/400x400/000/fff.jpg"><div class="caption">Yelp Clone w/Mongo DB</div></div>
			<div class="thumbnail"><img src="https://dummyimage.com/400x400/000/fff.jpg"><div class="caption">MySQL & node.js Project</div></div>
			<div class="thumbnail"><img src="https://dummyimage.com/400x400/000/fff.jpg"><div class="caption">Live Data Project</div></div>
			<div class="thumbnail"><img src="https://dummyimage.com/400x400/000/fff.jpg"><div class="caption">Web Scraper</div></div>
			<div class="thumbnail"><img src="https://dummyimage.com/400x400/000/fff.jpg"><div class="caption">D3 Project</div></div>
			<div class="thumbnail"><img src="https://dummyimage.com/400x400/000/fff.jpg"><div class="caption">Wordpress Custom Local 1</div></div>
			<div class="thumbnail"><img src="https://dummyimage.com/400x400/000/fff.jpg"><div class="caption">Wordpress Custom Local ></div></div>
			<div class="thumbnail"><img src="https://dummyimage.com/400x400/000/fff.jpg"><div class="caption">Wordpress Custom Local 3</div></div>
		</div>
	</div> -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
</body>
</html>
