body {
	background: #403B4A;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #E7E9BB, #403B4A);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #E7E9BB, #403B4A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-size: cover;
	font: 2em "Spectral SC";
	padding: 5px;
}

nav {
	text-transform: uppercase;
	opacity: 0.55;
	letter-spacing: 6.5px;
}

.blog {
	margin: 2% 20%;
	border: 20px solid hsl(89, 100%, 10%);
	padding: 20px;
	font: 16px;
	color: white;
	text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
}

.navbar-brand {
	letter-spacing: 6.5px;
	font-weight: bold;
}

.date {
	letter-spacing: 0.4rem;
	text-transform: uppercase;
	color: white;
}

h2 {
	text-transform: capitalize;
	color: white;
	background-color: #eee;
	font-weight: 700;
	font-size: 2.0rem;
}

hr {
	border: 0; 
 	height: 1px; 
 	background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
 	background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
 	background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  	background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}