<% include /partials/header.ejs %>

		<div class="blog">

			<span class="date">October 28 2017</span>

			<h2>Bloggish - 12/7/2017</h2>

				<p>Working on this website currently hosted on Github.  Ultimately, this
				   will be my portfolio used to show prospective employers.  I am currently
					 in the last couple of sections of "The Web Development Boot Camp" on Udemy,
					 which is a fantastic class.  Working on data persistence of user input
					 in a Yelp clone right now, which I will change up and post on my portfolio.

					 After that, I plan to have a React project, a web scraper, a D3 project,
					 a MySQL/node.js project, and three custom Wordpress examples. Scary.
			  </p>
			<hr>

		</div>

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>

<% include partials/footer.ejs
