<% include partials/header %> <!-- calling another ejs file to be inserted - in this case, the basic HTML header code -->

<h1>Landing Page!</h1>

<p>Welcome to YelpCamp</p>

<a href="/campgrounds">View all campgrounds.</a>

<% include partials/footer %>