body {
  background-size: cover;
  background-image: linear-gradient(
      rgba(217, 217, 217, 0.45),
      rgba(217, 217, 217, 0.45)
    ),
    url(https://images.unsplash.com/photo-1481278403982-f2d9f387cdcc?auto=format&fit=crop&w=1350&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
padding: 0.5em;
}

nav {
  font-family: "Spectral SC";
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0.66;
  letter-spacing: 0.5em;
}

.wrapper {
  margin-top: 2em;
}

.about_list {
  width: 33em;
}
.form-control {
  margin: 0.25em;
}

.navbar-brand {
  letter-spacing: 0.5em;
  font-weight: 700;
}

#selected {
  color: white;
  background-color: gray;
}

#contact_form {
  margin: 10px;
  padding: 1em;
}

#third_column {
  text-align: center;
}

#contact_form {
  padding: 0 12em;
}